---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Papers by Year</h2> -->

<p>Papers are sorted by the most recent date. The full list of articles is available on my <a href="https://scholar.google.com/citations?user=kfmoYAkAAAAJ&hl=en&authuser=1">Google Scholar</a>.</p>

<h3>2026</h3>
<p><strong>1. BanCyB: A Hybrid Transformer-LSTM Framework for Explainable Multi-Label Cyberbullying Detection in Low-Resource Setting</strong><br>
<em>Discover Applied Sciences (Springer, Journal)</em><br>
<em>Authors - M.M. Hasan, M.S. Arefin, <strong>Md. Ayon Mia</strong>, P.K. Dhar</em> <em> <br> <em>Accepted </em>
</p>

<h3>2025</h3>
<p><strong>2. BANMIME: Misogyny Detection with Metaphor Explanation on Bangla Memes</strong><br>
<em>Proceedings of the 2025 Conference on Empirical Methods in Natural Language Processing (EMNLP 2025), Main Conference</em> <a href="https://aclanthology.org/2025.emnlp-main.900/">[Paper]</a><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, A.M.R. Mazumder, K.S. Sayma, M. Fahim, M.T.H. Fuad, A.M.M. Rahman, M.I. Khan</em><br>
<em>Published: November 2025</em>
</p>

<p><strong>3. BANHATEME:Understanding Hate in Bangla Memes through Detection, Categorization, and Target Profiling </strong><br>
<em>Second Bangla Language Processing Workshop (BLP 2025), co-located with ICJNLP-AACL 2025 </em> <a href="https://drive.google.com/file/d/1ySN5g_U0DA3mocI3frBCB7AodJn2ttf9/view?usp=sharing">[Preprint]</a><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, M. Fahim </em><br>
<em>Accepted </em>
</p>
<p><strong>4. Enhanced Semantic Relatedness Prediction Using XLM‐RoBERTa and CNNs With K‐Fold Cross‐Validation</strong><br>
<em>The Journal of Engineering (JoE), Wiley & The Institution of Engineering and Technology</em> <a href="https://ietresearch.onlinelibrary.wiley.com/doi/10.1049/tje2.70106">[Paper]</a><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, Fahim Shakil Tamim, Zaima Sartaj Taheri, Md. Alamin Talukder</em><br>
<em>Published: June 2025</em>
</p>

<p><strong>5. Prompting vs Fine-Tuning for Bengali Violence Detection in Low-Resource Settings</strong><br>
<em>28th International Conference on Computer and Information Technology (ICCIT 2025) </em> <a href="https://drive.google.com/file/d/1UvW_71cIi98pRPzSqh3eALocf4QumzzR/view?usp=sharing">[Preprint]</a><br>
<em>Authors - <strong>Md. Ayon Mia</strong>,  A.Hasan, A. Rahman, G.S.M. Mursalin, M.I. Khan </em><br>
<em>Accepted </em>
</p>

<p><strong>6. SETBoost: An Interpretable Machine Learning Approach for Predicting Software Employee Turnover Tendency </strong><br>
<em>28th International Conference on Computer and Information Technology (ICCIT 2025) </em> <a href="https://drive.google.com/file/d/1kRzuolWU2Cb5ojQJPetFZpdwAdmwiZpe/view?usp=sharing">[Preprint]</a><br>
<em>Authors - A. Rahman, M.I. Hossain, <strong>Md. Ayon Mia</strong>, M.I. Khan </em><br>
<em>Accepted </em>
</p>

<p><strong>7. Vision Transformers for Multi-Class Eye Disease Classification: Enhancing Early Detection in Resource-Constrained Healthcare Settings</strong><br>
<em>3rd International Conference on Big Data, IoT and Machine Learning (BIM 2025)</em> <a href="#">[Preprint]</a><br>
<em>Authors - A. Rahman, M. Hasan, <strong>Md. Ayon Mia</strong>, M.I. Khan</em><br>
<em>Accepted </em>
</p>

<p><strong>8. Fraud Detection with DistilBERT: A Transformer-Based Approach to Behavioral Banking Sequences</strong><br>
<em>3rd International Conference on Big Data, IoT and Machine Learning (BIM 2025)</em> <a href="#">[Preprint]</a><br>
<em>Authors - M.M. Hasan, A.A. Mahin, S. Chakraborty, M. Afrose, <strong>Md. Ayon Mia</strong>, M.A. Based</em><br>
<em>Accepted: 2025</em>
</p>

<p><strong>9. Explainable Self-Attentive Transformer Model for Bangla Mental Health Disorder Detection </strong><br>
<em>International Conference on Intelligent Data Analysis and Applications (IDAA 2025)</em> <a href="#">[Preprint]</a><br>
<em>Authors - A.S.H. Hridoy, N.S. Shohan, M.S. Alif, N.M.A. Mahin, <strong>Md. Ayon Mia</strong> </em><br>
<em>Accepted: 2025</em>
</p>

<p><strong>10. KCRL@DravidianLangTech 2025: Multi-View Feature Fusion with XLM-R for Tamil Political Sentiment Analysis</strong><br>
<em>DravidianLangTech Workshop @ NAACL 2025</em> <a href="https://aclanthology.org/2025.dravidianlangtech-1.108/">[Paper]</a><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, Fariha Haq, Md. Tanvir Ahammed Shawon, Golam Sarwar Md. Mursalin, Muhammad Ibrahim Khan</em><br>
<!-- <em>Decision: Accept (Poster) - February 2025</em></p> -->

<p><strong>11. KCRL@DravidianLangTech 2025: Multi-Pooling Feature Fusion with XLM-RoBERTa for Malayalam Fake News Detection and Classification</strong><br>
<em>DravidianLangTech Workshop @ NAACL 2025</em> <a href="https://aclanthology.org/2025.dravidianlangtech-1.107/">[Paper]</a><br>
<em>Authors - Fariha Haq, Md. Tanvir Ahammed Shawon, <strong>Md. Ayon Mia</strong>, Golam Sarwar Md. Mursalin, Muhammad Ibrahim Khan</em><br>
<!-- <em>Decision: Accept (Poster) - February 2025</em></p> -->

<p><strong>12. ID4Fusion@CASE 2025: A Multimodal Approach to Hate Speech Detection in Text-Embedded Memes Using Ensemble Transformer-Based Approach</strong><br>
<em>The 8th Workshop on Challenges and Applications of Automated Extraction of Socio-Political Events from Text</em> <a href="https://drive.google.com/file/d/19wLEJdrfUCR6hOo2Jm9XaZa_YyMCQ3p1/view?usp=sharing">[Preprint]</a><br>
<em>Authors - T.B. Rashfi, M.T.A. Shawon, <strong>Md. Ayon Mia</strong>, M.I. Khan</em><br>
<em>Accepted: 2025</em>
</p>

<p><strong>13. PhantomTroupe@CASE 2025: Multimodal Hate Speech Detection in Text-Embedded Memes using Instruction-Tuned LLMs</strong><br>
<em>The 8th Workshop on Challenges and Applications of Automated Extraction of Socio-Political Events from Text</em> <a href="https://drive.google.com/file/d/1Pv3ZoHERpg6eZ7DM3vZVcBMhX2loIopG/view?usp=drive_link">[Preprint]</a><br>
<em>Authors - Amin, M.A. Horaira, M.T.A. Shawon, <strong>Md. Ayon Mia</strong>, M.I. Khan</em><br>
<em>Accepted: 2025</em>
</p>

<p><strong>14. CUET_KCRLatCheckThat!2025: EnsembleNet with RoBERTa-Large for Subjectivity Detection in News Articles</strong><br>
<em>CLEF 2025 Conference and Labs of the Evaluation Forum</em> <a href="https://ceur-ws.org/Vol-4038/paper_96.pdf">[Paper]</a><br>
<em>Authors - M.T.A. Shawon, F. Haq, <strong>Md. Ayon Mia</strong>, G.S.M. Mursalin, M.I. Khan</em><br>
</p>

<h3>2024</h3>
<p><strong>15. Golden_Duck at #SMM4H 2024: A Transformer-based Approach to Social Media Text Classification</strong><br>
<em>ACL 2024 - SMM4H Workshop</em> <a href="https://aclanthology.org/2024.smm4h-1.XX/">[Paper]</a><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, M. Yahan, H. Murad, M.I. Khan</em></p>


<h3>2023</h3>
<p><strong>16. EmptyMind at BLP-2023 Task 1: A Transformer-based Hierarchical-BERT Model for Bangla Violence-Inciting Text Detection</strong><br>
<em>BLP Workshop @ EMNLP 2023 [Best Paper Award]</em> <a href="https://aclanthology.org/2023.blp-1.XX/">[Paper]</a><br>
<em>Authors - U Das, K Fatema, <strong>Md. Ayon Mia</strong>, M Yahan, MS Mowla, MDF Ullah, A Sarker, H Murad</em></p>

<p><strong>17. EmptyMind at BLP-2023 Task 2: Sentiment Analysis of Bangla Social Media Posts using Transformer-Based Models</strong><br>
<em>BLP Workshop @ EMNLP 2023</em> <a href="https://aclanthology.org/2023.blp-1.XX/">[Paper]</a><br>
<em>Authors - K Fatema, U Das, <strong>Md. Ayon Mia</strong>, MS Mowla, M Yahan, M.F. Ullah, A Sarker, H Murad</em></p>

<h3 style="color: #d34b7d;">Under Review Papers</h3>

<p><strong>18. Code-Mixed Language Translation: An Integrated Framework with Enhanced Preprocessing and N-gram Optimization for Cross-Lingual Communication</strong><br>
<em>Engineering Applications of Artificial Intelligence (Elsevier, Journal)</em><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, M. Fahim, G.S.M. Mursalin, M.J.I. Basher, H. Murad, M.R. Islam, M.I. Khan, I.H. Sarker</em></p>

<p><strong>19. BanGRev: A novel Bengali tech gadget review corpus utilizing triple-pooling feature fusion with explainable AI</strong><br>
<em>New Generation Computing (Springer, Journal)</em><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, A. Rahman, G.S.M. Mursalin, M.I. Khan, I.H. Sarker</em></p>

<p><strong>20. Addressing Rating-Review Discrepancy in a Novel Dataset: An Explainable Pharmaceutical Product Evaluation using Multi-Stream Attention Transformer</strong><br>
<em>Neural Computing and Applications (Springer, Journal)</em><br>
<em>Authors - A. Rahman, <strong>Md. Ayon Mia</strong>, M.I. Khan, I.H. Sarker</em></p>


<!-- <p><strong>11. Prompting vs. Fine-tuning: Evaluating Bengali Violence Detection in a Low-Resource Setting</strong><br>
<em>3rd International Conference on Big Data, IoT and Machine Learning (BIM 2025, Conference)</em><br>
<em>Authors - <strong>Md. Ayon Mia</strong>, A. Hassan, A. Rahman, G.S.M. Mursalin, M.I. Khan</em></p>

<p><strong>12. Who’s Next? An Interpretable Machine Learning Approach for Predicting Software Employee Turnover Tendency</strong><br>
<em>3rd International Conference on Big Data, IoT and Machine Learning (BIM 2025, Conference)</em><br>
<em>Authors - A. Rahman, M.I. Hossain, <strong>Md. Ayon Mia</strong>, M.I. Khan</em></p> -->


<h2 style="color: #4bb1d3;">Research by Topic</h2>

<h3>Natural Language Processing for Low-Resource Languages</h3>
<ul>
  <li>Code-mixed language translation for low-resource languages</li>
  <li>Back-transliteration</li>
  <li>Social media text classification</li>
  <li>Violence-inciting text detection in Bangla</li>
  <li>Fake news detection in Dravidian languages</li>
  <li>Sentiment analysis for Bangla social media posts</li>
  <li>Semantic relatedness prediction in English language</li>
</ul>

<h3>Transformer-based Models & Techniques</h3>
<ul>
  <li>Multilingual LMs (XLM-RoBERTa, mBERT, MuRIL, IndicBERT) for cross-lingual applications</li>
  <li>Feature fusion techniques for improved performance</li>
  <li>Multi-view and multi-pooling strategies</li>
  <li>BERT adaptations for low-resource languages</li>
  <li>Hierarchical transformer architectures</li>
</ul>