---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

## Papers by Year --> -->

Papers are sorted by the most recent date. The full list of articles is available on my [Google Scholar](https://scholar.google.com/citations?user=kfmoYAkAAAAJ&hl=en&authuser=1).
### 2025
**1. KCRL@DravidianLangTech NAACL 2025: Multi-View Feature Fusion with XLM-R for Tamil Political Sentiment Analysis**  
*DravidianLangTech Workshop @ NAACL 2025* [[Preprint]] (https://drive.google.com/file/d/15-Vwrp7l7fptRRqgvPcUKtArtNCSZv3I/view?usp=sharing)
*Authors - **Md Ayon Mia**, Fariha Haq, Md. Tanvir Ahammed Shawon, Golam Sarwar Md. Mursalin, Muhammad Ibrahim Khan*  
*Decision: Accept (Poster) - February 2025*

**2. KCRL@DravidianLangTech NAACL 2025: Multi-Pooling Feature Fusion with XLM-RoBERTa for Malayalam Fake News Detection and Classification**  
*DravidianLangTech Workshop @ NAACL 2025* [[Preprint]] (https://drive.google.com/file/d/1mO4rpwls7x9aXqo7QXofOn5iKhHW25Zn/view?usp=sharing)
*Authors - Fariha Haq, Md. Tanvir Ahammed Shawon, **Md Ayon Mia**, Golam Sarwar Md. Mursalin, Muhammad Ibrahim Khan*  
*Decision: Accept (Poster) - February 2025*

### 2024
**3. Golden_Duck at #SMM4H 2024: A Transformer-based Approach to Social Media Text Classification**  
*ACL 2024 - SMM4H Workshop* [[Paper]](https://aclanthology.org/2024.smm4h-1.XX/)  
*Authors - **Md. Ayon Mia**, M. Yahan, H. Murad, M.I. Khan*

**4. Enhanced Semantic Relatedness Prediction using XLM-RoBERTa and CNNs with K-Fold Cross-Validation**  
*Accepted at ICDMIS 2024. In press (Springer)* [[Preprint]] (https://drive.google.com/file/d/11niAo2JxzTnhZ-zQvDrRqYWtV0la3xh_/view?usp=drive_link) 
*Authors - **Md. Ayon Mia**, F.S. Tamim, Z.S. Taheri*

### 2023
**5. EmptyMind at BLP-2023 Task 1: A Transformer-based Hierarchical-BERT Model for Bangla Violence-Inciting Text Detection**  
*BLP Workshop @ EMNLP 2023 [Best Paper Award]* [[Paper]](https://aclanthology.org/2023.blp-1.XX/)  
*Authors - U Das, K Fatema, **Md. Ayon Mia**, M Yahan, MS Mowla, MDF Ullah, A Sarker, H Murad*

**6. EmptyMind at BLP-2023 Task 2: Sentiment Analysis of Bangla Social Media Posts using Transformer-Based Models**  
*BLP Workshop @ EMNLP 2023* [[Paper]](https://aclanthology.org/2023.blp-1.XX/)  
*Authors - K Fatema, U Das, **Md. Ayon Mia**, MS Mowla, M Yahan, M.F. Ullah, A Sarker, H Murad*

### Under Review Papers
**7. BanGRev: A novel Bengali tech gadget review corpus utilizing triple-pooling feature fusion with explainable AI**  
[[Preprint]](https://drive.google.com/file/d/1Du30X22R8f4ev_m7Zd0RGYFwJKs8661n/view?usp=sharing)  
*Authors - **Md. Ayon Mia**, A. Rahman, G.S.M. Mursalin, M.I. Khan, I.H. Sarker*

**8. Code-Mixed Language Translation: An Integrated Framework with Enhanced Preprocessing and N-gram Optimization for Cross-Lingual Communication**  
[[Preprint]](https://drive.google.com/file/d/1parPiCO-8LWcp5JffLwZjWypjXHe6qCY/view)  
*Authors - **Md. Ayon Mia**, M. Fahim, G.S.M. Mursalin, M.J.I. Basher, H. Murad, M.R. Islam, M.I. Khan, I.H. Sarker*

## Research by Topic

### Natural Language Processing 
- Code-mixed language translation for low-resource languages
- Back-transliteration
- Social media text classification
- Violence-inciting text detection in Bangla
- Fake news detection in Dravidian languages
- Sentiment analysis for Bangla social media posts
- Semantic relatedness prediction in English language

### Transformer-based Models
- Multilingual LMs (XLM-RoBERTa, mBERT, MuRIL, IndicBERT) for cross-lingual applications
- Feature fusion techniques for improved performance
- Multi-view and multi-pooling strategies
- BERT adaptations for low-resource languages
- Hierarchical transformer architectures
